.aside-link {
  display: inline-block;
  width: 100%;
  &:hover,
  &.active {
    border-left: 4px solid #fff;
    background-color: #567fb4;
    transition: background-color 0.3s;

    a {
      mat-icon {
        margin-left: 2px;
      }
    }
  }
}

.aside-link::before {
  content: "";
  background-color: #fff;
  width: 2px;
  height: 32px;
}

a {
  padding: 8px;
  mat-icon {
    margin-left: 6px;
  }
}
