<h2>Detalle de la tabla <strong>{{ tabla.nombre }}</strong></h2>

<div class="tabla-container">
  <div class="carta">
    <img [src]="'assets/images/' + tabla.carta1.id + '.jpeg'" alt="loteria" />
  </div>
  <div class="carta">
    <img [src]="'assets/images/' + tabla.carta2.id + '.jpeg'" alt="loteria" />
  </div>
  <div class="carta">
    <img [src]="'assets/images/' + tabla.carta3.id + '.jpeg'" alt="loteria" />
  </div>
  <div class="carta">
    <img [src]="'assets/images/' + tabla.carta4.id + '.jpeg'" alt="loteria" />
  </div>
  <div class="carta">
    <img [src]="'assets/images/' + tabla.carta5.id + '.jpeg'" alt="loteria" />
  </div>
  <div class="carta">
    <img [src]="'assets/images/' + tabla.carta6.id + '.jpeg'" alt="loteria" />
  </div>
  <div class="carta">
    <img [src]="'assets/images/' + tabla.carta7.id + '.jpeg'" alt="loteria" />
  </div>
  <div class="carta">
    <img [src]="'assets/images/' + tabla.carta8.id + '.jpeg'" alt="loteria" />
  </div>
  <div class="carta">
    <img [src]="'assets/images/' + tabla.carta9.id + '.jpeg'" alt="loteria" />
  </div>
  <div class="carta">
    <img [src]="'assets/images/' + tabla.carta10.id + '.jpeg'" alt="loteria" />
  </div>
  <div class="carta">
    <img [src]="'assets/images/' + tabla.carta11.id + '.jpeg'" alt="loteria" />
  </div>
  <div class="carta">
    <img [src]="'assets/images/' + tabla.carta12.id + '.jpeg'" alt="loteria" />
  </div>
</div>
