<nav>
  <ul class="nav-left-side">
    <li class="aside-handle">
      <i class="fa-solid fa-bars" (click)="handleAside()"></i>
    </li>
    <li>
      <img
        src="https://somosredcompanies.com/assets/imgs/logo-redco.svg"
        alt="logo"
        class="login-logo"
        width="82px"
      />
    </li>
  </ul>
  <ul class="nav-right-side">
    <li>
      <span style="color: #343a40;">
        Prueba
      </span>
    </li>
    <li (click)="logout()" style="cursor: pointer">
      <mat-icon style="color: #343a40;">logout</mat-icon>
    </li>
  </ul>
</nav>
